.List{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 60px;
    justify-content: center;

    overflow: auto;

    max-height: calc(100vh - 50px);

    i{
        width: 400px;
        margin: 0 5px;
    }
}
