.Search{
    display: flex;
    flex-direction: row;
    align-items: center;

    .Icon{
        margin-right: 10px;
        transition: all ease-in-out .1s;
        width: 20px;
        height: 20px;
    }
    .Input{
        border: 1px solid #adadad;
        border-radius: 20px;
        height: 35px;
        width: 300px;
        padding: 0 10px;
        //box-shadow: 0 0 13px 0px #e6e6e6

        &:focus{
            outline: none;
        }
    }
}